html {
    background: url(https://i.redd.it/fisnfas5ip7c1.gif);
    background-size: cover;
}

h1 {
    color: aliceblue;
    padding-left: 3%;
    font-size: 500%;
}

#neon-white {
  color: #ffffff;
  text-shadow:
    0 0 2px #fff,
    0 0 6px rgba(255, 255, 255, 0.4);
}

#neon-white .subheading {
    padding-left: 1em;
}

hr {
  border: none; /* remove default grey border */
  height: 3px;
  width: 60%;
  position: relative;
  right: 22rem;
  bottom: 3rem ;  
  background-color: #ffffff;    /* solid white line */
  box-shadow:
    0 0 6px #ffffff,
    0 0 12px #f0f,
    0 0 20px #f0f;
}

.app-counter-box {
  font-family: "Droid Sans Mono", monospace;
  font-size: 450%;
  position: relative;
  text-align: center;
  color: #d8e9ef;
}

.circle-shape {
    width: 400px;
    height: 400px; 
    border-radius: 50%;
    border: 2px solid #ffffff ;
    box-shadow:
    0 0 6px #ffffff,
    0 0 12px #f0f,
    0 0 20px #f0f; 
    margin-left: 7%;
    display: flex;
    flex-direction: column;   /* stack timer + button */
    justify-content: center;  /* vertical center */
    align-items: center;
}


#neon-pink {
    color: #fff; /* White text color */
    text-shadow:
    0 0 6px #ffffff,
    0 0 12px #f0f,
    0 0 20px #f0f; 
}

button {
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    outline: none;
    color: #d8e9ef;
    font-size: 200%;
}

button:hover {
  color: #90c0d1;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
    margin-left: 10px;
    color: #ffffff;
}









